.bar {
  background-color: rgba(30, 30, 46, 0.9); /* Green */
  padding: 6px 12px;
  color: #cdd6f4;
  border-radius: 10px;
  margin: 10px;
  font-size: 14px;
  font-family: JetBrains Mono, monospace;
}

.logo {
  font-weight: bold;
  color: #89b4fa;
}

.center {
  color: #f38ba8;
}

.clock {
  color: #a6e3a1;
}
